h1, h2, h3, p {
  font-family: 'MuseoModerno', cursive;
}

h1, h2, h3 {
  color: #fff;

}

p {
  color: #fff;
  font-size: 20px;
  text-shadow: 2px 2px 3px grey;
}

body {
  background: url('https://i.pinimg.com/originals/ef/3c/ff/ef3cff5b671f597e7d62f0677c1b6611.png');
  background-size: cover;
  background-color: rgba(150,150,150, 0.3);
  background-blend-mode: lighten;
}

.intro img {
  border-radius: 50%;
  width: 200px;
  margin: 0 auto;
}

.intro {
  text-align: center;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.social_list {
  padding: 0;
}
.social_list li {
  display: inline-block;
  padding-right: 15px;
}

.social_icon a {
  color: #fff;
  font-size: 30px;
}

.video {
  width: 400px;
  height: 500px;
  margin: 0 auto;
  display: block;
}

.cat_photos {
  width: 700px;
  height: 400px;
  object-fit: cover;
}




